/* Container Principal */
.app-container {
  display: flex;
}

/* Sidebar fixa padrão */
.custom-sidebar {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.cabeca {
  padding: 40px;
  border-bottom: 1px solid var(--lilas);
  text-align: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: var(--branco);
  margin-top: 10px;
}

.corpo {
  flex: 1;
  overflow-y: auto;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--branco);
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 16px;
}

.menu-list a:hover {
  background-color: var(--lilas);
}

.rodape {
  padding: 20px;
  border-top: 1px solid var(--lilas);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: var(--branco);
}

/* Conteúdo Principal */
.main-content {
  margin-left: 250px;
  flex-grow: 1;
  background: linear-gradient(to bottom, var(--magenta), var(--lilas) 50%, var(--roxo));
  padding: 20px;
  color: var(--branco);
  font-family: sans-serif;
  transition: margin-left 0.3s;
}

.main-content.expanded {
  margin-left: 0;
}

/* Barra de Busca */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid var(--lilas);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: var(--magenta);
}

.search-button {
  background-color: var(--branco);
  border: none;
  color: var(--roxo);
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--roxo);
}

/* Seções de Ranking e Feedback */
.ranking-section,
.feedback-section {
  background-color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.ranking-section h3,
.feedback-section h3 {
  margin-bottom: 20px;
  color: var(--roxo-escuro);
  font-size: 20px;
  border-bottom: 2px solid var(--magenta);
  padding-bottom: 10px;
}

.ranking-section ul,
.feedback-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ranking-section ul li,
.feedback-section ul li {
  padding: 10px 0;
  border-bottom: 1px solid var(--cinza-claro);
  font-size: 16px;
  color: var(--cinza-escuro);
}

.ranking-section ul li:last-child,
.feedback-section ul li:last-child {
  border-bottom: none;
}
