<div class="app-container">
  <!-- Sidebar com conteúdo personalizado -->
  <p-sidebar #sidebarRef [(visible)]="sidebarVisible">
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <!-- Cabeçalho com logo e botão de fechar -->
        <div class="flex align-items-center justify-content-between px-4 pt-3">
          <span class="logo-text">Consac</span>
        </div>
        <!-- Corpo da sidebar -->
        <div class="overflow-y-auto">
          <ul class="menu-list">
            <li><a><i class="pi pi-home"></i> Dashboard</a></li>
            <li><a><i class="pi pi-bookmark"></i> Bookmarks</a></li>
            <li><a><i class="pi pi-chart-line"></i> Reports</a></li>
            <li><a><i class="pi pi-users"></i> Team</a></li>
            <li><a><i class="pi pi-comments"></i> Messages</a></li>
            <li><a><i class="pi pi-calendar"></i> Calendar</a></li>
            <li><a><i class="pi pi-cog"></i> Settings</a></li>
          </ul>
        </div>
        <!-- Rodapé da sidebar -->
        <div class="sidebar-footer">
          <a class="user-info">
            <span>Amy Elsner</span>
          </a>
        </div>
      </div>
    </ng-template>
  </p-sidebar>

  <div class="app-container">
    <!-- Toolbar que encolhe quando a sidebar está visível -->
    <div class="toolbar" [ngClass]="{'shrink': sidebarVisible}">
      <h1>{{ sidebarVisible ? 'Menu Compacto' : 'Menu Completo' }}</h1>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Search" />
      </span>
  </div>
    <div class="card flex justify-content-center">
      <!-- Botão para abrir a sidebar -->
      <p-button icon="pi pi-arrow-right" (click)="toggleSidebar()" aria-controls="sidebar"
        [attr.aria-expanded]="sidebarVisible ? true : false"></p-button>

</div>
