<div class="page-container">
  <div class="form-container">
    <h1>Criar nova senha</h1>
    <div class="form-group">
      <label for="newPassword">Nova Senha:</label>
      <input
        id="newPassword"
        type="password"
        [(ngModel)]="senha"
        placeholder="Digite sua nova senha"
        required
        #newPassword="ngModel" />
      <div *ngIf="newPassword.invalid && newPassword.touched" class="error-message">
        A senha é obrigatória.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmar Senha:</label>
      <input
        id="confirmPassword"
        type="password"
        [(ngModel)]="confirmarSenha"
        placeholder="Confirme sua senha"
        required
        #confirmPassword="ngModel" />
      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error-message">
        A confirmação é obrigatória.
      </div>
    </div>
    <button
      class="btn-confirm"
      [disabled]="!newPassword.valid || !confirmPassword.valid || senha !== confirmarSenha"
      (click)="cadastrar()">
      Confirmar
    </button>
    <div *ngIf="senha !== confirmarSenha && confirmarSenha">
      <p class="error-message">As senhas não coincidem.</p>
    </div>
  </div>
</div>
