<div class="container-dialogo">
  <p-dialog
    class="title"
    [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
    [style]="{ width: '50vw', color: '#eeb50b' }"
    header="Nós respeitamos sua privacidade"
    [(visible)]="displayPosition"
    [position]="position"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
  >
    <p>
      {{ frasesAleatorias.frase6 }}
      <a class="link-politica" routerLink="/politica-privacidade">
        {{ text.politicaDePrivacidade }}
      </a>
    </p>
    <ng-template pTemplate="footer">
      <div class="footer">
        <button
          pButton
          pRipple
          [style]="{
            color: '#000',
            background: 'transparent',
            border: '1px solid #000'
          }"
          (click)="rejeitar()"
          [label]="label.rejeitar"
          class="btn-rejeitar p-button-outlined p-button-rounded"
        ></button>

        <button
          pButton
          pRipple
          type="button"
          [label]="label.aceitar"
          [style]="{
            color: 'white',
            background: '#eeb50b',
            border: '1px solid #eeb50b'
          }"
          class="p-button-outlined p-button-rounded"
          (click)="aceitar()"
        ></button>
      </div>
    </ng-template>
  </p-dialog>
</div>

<!-- Contêiner principal de login -->
<div class="login-container">
  <p-toast></p-toast> <!-- Para exibir mensagens de sucesso e erro -->

  <!-- Botão de voltar -->
  <button
    type="button"
    pButton
    label="Voltar"
    icon="pi pi-arrow-left"
    (click)="voltar()"
  ></button>

  <!-- Títulos principais -->
  <h1>{{ text.Consac }}</h1>
  <h2>{{ text.VI }}</h2>

  <!-- Formulário de Login -->
  <form (ngSubmit)="login()">

    <!-- Campo de Email -->
    <span class="p-float-label">
      <input
        type="text"
        pInputText
        id="username"
        name="username"
        placeholder="Insira o email do voluntário"
        [(ngModel)]="email"
        required
      />
      <label for="username">Email</label>
    </span>

    <!-- Mensagem de erro para email inválido -->
    <div *ngIf="!isEmailValido(email) && email" class="p-error">
      <small>Email inválido.</small>
    </div>

    <!-- Campo de Senha -->
    <span class="p-float-label">
      <input
        type="password"
        pInputText
        id="password"
        name="password"
        placeholder="{{ placeholder.usuarioSenha }}"
        [(ngModel)]="senha"
        required
      />
      <label for="password">Senha</label>
    </span>

    <!-- Mensagem de erro para senha inválida -->
    <div *ngIf="!isSenhaValida(senha) && senha" class="p-error">
      <small>A senha deve ter no mínimo 3 caracteres.</small>
    </div>

    <!-- Botão de Login -->
    <button
      type="submit"
      pButton
      pRipple
      [label]="label.login"
      class="p-button-success"
    ></button>

    <!-- Botão de redefinir senha -->
    <div class="button-redefinir">
      <button
        type="button"
        pButton
        [label]="label.redefinir"
        style="background: transparent; border: none;"
        (click)="redefinirSenha()"
      ></button>
    </div>

    <!-- Botão de cadastrar-se -->
    <div class="register-button-container">
      <button
        type="button"
        pButton
        [label]="label.cadastro"
        style="background: transparent; border: none;"
        (click)="cadastrar()"
      ></button>
    </div>
  </form>
</div>
