<div class="app-container">
  <!-- Sidebar de Navegação -->
<div class="custom-sidebar">
  <div class="cabeca">
    <span class="logo-text">Instituição</span>
  </div>
  <div class="corpo">
    <ul class="menu-list">
      <li *ngFor="let item of sidebarItems">
        <a [routerLink]="item.route">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
  <div class="rodape">
    <div class="user-info">
      <span>Instituição</span>
    </div>
  </div>
</div>


  <!-- Conteúdo Principal -->
  <div class="main-content" [ngClass]="{'expanded': !sidebarOpen}">
    

    <div class="feedback-form">
      <h2>Feedback para a Instituição</h2>
      <p>Conte-nos sobre a experiência com nossos colaboradores e serviços!</p>
      <textarea
        placeholder="Descreva sua experiência"
        [(ngModel)]="feedbackText">
      </textarea>
      <p>Avalie nossos colaboradores (0 a 5 estrelas):</p>
      <div class="stars">
        <span
          *ngFor="let star of stars; let i = index"
          [class.filled]="i < colaboradorRating"
          (click)="rateColaborador(i + 1)">
          &#9733;
        </span>
      </div>
      <p>Avalie nosso sistema de gestão (0 a 5 estrelas):</p>
      <div class="stars">
        <span
          *ngFor="let star of stars; let i = index"
          [class.filled]="i < sistemaRating"
          (click)="rateSystem(i + 1)">
          &#9733;
        </span>
      </div>
      <button (click)="submitFeedback()">Enviar Feedback</button>
    </div>
  </div>
</div>
