<div class="app-container">
  <!-- Sidebar de Navegação -->
<div class="custom-sidebar">
  <div class="cabeca">
    <span class="logo-text">Instituição</span>
  </div>
  <div class="corpo">
    <ul class="menu-list">
      <li *ngFor="let item of sidebarItems">
        <a [routerLink]="item.route">
          <i [class]="item.icon"></i> {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
  <div class="rodape">
    <div class="user-info">
      <span>Instituição</span>
    </div>
  </div>
</div>


  <!-- Conteúdo Principal -->
  <div class="main-content" [ngClass]="{ expanded: !sidebarOpen }">
    <!-- Barra de Busca -->
    <div class="search-bar">
      <input type="text" placeholder="Pesquisar" [(ngModel)]="searchQuery" />
      <button class="search-button">
        <i class="pi pi-search"></i>
      </button>
    </div>

    <!-- Lista de Mensagens -->
    <div class="mensagens-container">
      <h3>Mensagens</h3>
      <ul class="mensagens-list">
        <li *ngFor="let mensagem of mensagens">
          <a [routerLink]="['/mensagem-instituicao/chat', mensagem]">
            <div class="mensagem-item">
              <i class="pi pi-user icon"></i>
              <span>{{ mensagem }}</span>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <!-- Botão Nova Mensagem Flutuante -->
    <button class="nova-mensagem-float" [routerLink]="['/mensagem-instituicao/chat', 'Novo']">
      <i class="pi pi-comment"></i>
    </button>
  </div>
</div>
