/* Container Principal */
.app-container {
  display: flex;
}

/* Sidebar fixa padrão */
.custom-sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.cabeca {
  padding: 40px;
  border-bottom: 1px solid var(--lilas);
  text-align: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: var(--branco);
  margin-top: 10px;
}

.corpo {
  flex: 1;
  overflow-y: auto;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--branco);
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 16px;
}

.menu-list a:hover {
  background-color: var(--lilas);
}

.rodape {
  padding: 20px;
  border-top: 1px solid var(--lilas);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: var(--branco);
}


/* Conteúdo Principal */
.main-content {
  flex-grow: 1;
  background: linear-gradient(to bottom, var(--magenta), var(--lilas) 50%, var(--roxo));
  padding: 20px;
  color: var(--branco);
  font-family: sans-serif;
  text-decoration: none;
  transition: margin-left 0.3s;
}

.main-content.expanded {
  margin-left: 0;
}

/* Barra de Busca */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid var(--lilas);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: var(--magenta);
}

.search-button {
  background-color: var(--branco);
  border: none;
  color: var(--roxo);
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--roxo);
}

/* Mensagens */
.mensagens-container {
  background-color: var(--branco);
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.mensagens-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--roxo-escuro);
}

.mensagens-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mensagem-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--roxo-escuro);
  background-color: var(--branco);
  border: 1px solid var(--lilas);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mensagem-item:hover {
  background-color: var(--branco);
}

.icon {
  margin-right: 10px;
  color: var(--roxo-escuro);
}


/* Botão flutuante */
.nova-mensagem-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--roxo-escuro);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.nova-mensagem-float:hover {
  background-color: var(--magenta);
}
