/* Conteúdo principal */
.main-content {
  flex: 1;
  background: linear-gradient(to bottom, var(--magenta), var(--lilas) 50%, var(--roxo));
  padding: 20px;
  color: var(--branco);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.main-content.expanded {
  margin-left: 0;
}

/* Barra de pesquisa */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid var(--lilas);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: var(--magenta);
}

.search-button {
  background-color: var(--branco);
  border: none;
  color: var(--roxo);
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--roxo);
}
