<div class="vagas-container">
  <!-- Botão para abrir/fechar a barra lateral -->
  <button class="toggle-sidebar-btn" (click)="toggleSidebar()">
    <i class="pi" [ngClass]="{'pi-chevron-left': sidebarOpen, 'pi-chevron-right': !sidebarOpen}"></i>
  </button>

  <!-- Sidebar de Navegação -->
  <div class="custom-sidebar" [ngClass]="{'closed': !sidebarOpen}">
    <div class="box">
      <div class="cabeca">
        <span class="logo-text">Vagas Instituição</span>
      </div>
      <div class="corpo">
        <ul class="menu-list">
          <li *ngFor="let item of sidebarItems">
            <a [routerLink]="item.route">
              <i [class]="item.icon"></i> {{ item.label }}
            </a>
          </li>
        </ul>
      </div>
      <div class="rodape">
        <div class="user-info">
          <span>Instituição</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Conteúdo Principal -->
  <div class="main-content" [ngClass]="{'expanded': !sidebarOpen}">
    <!-- Barra de Busca -->
    <div class="search-bar">
      <input type="text" placeholder="Pesquisar" [(ngModel)]="searchQuery" />
      <button class="search-button">
        <i class="pi pi-search"></i>
      </button>
    </div>

    <!-- Formulário de Vagas -->
    <p-toast></p-toast> <!-- Componente Toast para exibir mensagens -->

    <div class="vaga-form-container">
      <h2>Publique sua vaga!</h2>

      <form [formGroup]="vagaForm" (ngSubmit)="onSubmit()">
        <label for="cargo">Cargo:</label>
        <input id="cargo" formControlName="cargo" placeholder="Descrição do Cargo" />
        <div *ngIf="isFieldInvalid('cargo')" class="error-message">O campo Cargo é obrigatório.</div>

        <label for="localidade">Localidade de Trabalho:</label>
        <input id="localidade" formControlName="localidade" placeholder="Descrição da Localidade" />
        <div *ngIf="isFieldInvalid('localidade')" class="error-message">O campo Localidade de Trabalho é obrigatório.
        </div>

        <label for="tipoVaga">Tipo de Vaga:</label>
        <input id="tipoVaga" formControlName="tipoVaga" placeholder="Descrição do Tipo de Vaga" />
        <div *ngIf="isFieldInvalid('tipoVaga')" class="error-message">
          O campo Tipo de Vaga é obrigatório.
        </div>

        <label for="descricao">Descrição:</label>
        <input id="descricao" formControlName="descricao" placeholder="Descrição da Vaga" />
        <div *ngIf="isFieldInvalid('descricao')" class="error-message">O campo Descrição é obrigatório.</div>

        <label for="especificacoes">Especificações da vaga (separadas por vírgula):</label>
        <input id="especificacoes" formControlName="especificacoes" placeholder="Ex: Java, Spring Boot, REST API" />
        <div *ngIf="isFieldInvalid('especificacoes')" class="error-message">
          O campo Especificações é obrigatório.
        </div>


        <button type="submit" class="submit-btn">Publique!</button>
      </form>
    </div>
  </div>
</div>
