<!--
<div class="container-cadastro-rejeitado">
  <div class="container-image">
    <img src="../../assets/images/logo-connect.png" alt="" />
  </div>
  <div class="container-textos">
    <h1 [style]="{ color: '#FFFFFF' }">{{texto.Pena}}</h1>
    <p>
     {{frasesAleatorias.frase7}}
    </p>

    <div class="grid p-fluid justify-content-center p-3 mt-5">
      <button
        [style]="{ border: 'none' }"
        class="btn-provar-vida"
        label={{label.voltarParaInicio}}
        pButton
        routerLink="/registro-acesso-esfera"
      ></button>
    </div>
  </div>
</div>
 -->
