<div class="page-wrapper">
  <div class="container">
    <h1>Atenção: Consentimento de Uso de Dados</h1>
    <p>
      Percebemos que você optou por não aceitar nossos Termos de Uso e a Política de Privacidade conforme a Lei Geral de Proteção de Dados (LGPD). Respeitamos sua escolha e estamos comprometidos em proteger seus dados.
    </p>
    <p>
      No entanto, sem o consentimento necessário, algumas funcionalidades ou serviços podem ser limitados, uma vez que o uso adequado de certos dados é imprescindível para a operação segura e personalizada de nossos sistemas.
    </p>
    <p>
      Se desejar revisar sua decisão ou obter mais informações, estamos à disposição. Nossa equipe está pronta para ajudar a esclarecer qualquer dúvida.
    </p>

    <button class="btn-voltar" (click)="voltar()">Voltar</button>
  </div>
</div>
