/* Container Principal */
.app-container {
  display: flex;
}

/* Sidebar */
.custom-sidebar {
  width: 250px;
  transition: width 0.3s;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.custom-sidebar.closed {
  width: 0;
  overflow: hidden;
}

.cabeca {
  padding: 40px;
  border-bottom: 1px solid var(--lilas);
  text-align: center;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: var(--branco);
  margin-top: 10px;
}

.corpo {
  flex: 1;
  overflow-y: auto;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  margin: 10px 0;
}

.menu-list a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--branco);
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu-list a:hover {
  background-color: var(--lilas);
}

.rodape {
  padding: 20px;
  border-top: 1px solid var(--lilas);
  text-align: center;
  font-weight: bold;
}

/* Botão de alternância da Sidebar */
.toggle-sidebar-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.toggle-sidebar-btn i {
  font-size: 15px;
  color: var(--branco);
}

.toggle-sidebar-btn:hover {
  background-color: var(--cinza-claro);
}

.closed .toggle-sidebar-btn {
  right: -30px;
}

/* Conteúdo Principal */
.main-content {
  flex-grow: 1;
  background: linear-gradient(to bottom, var(--magenta), var(--lilas) 50%, var(--roxo));
  padding: 20px;
  color: var(--branco);
  font-family: sans-serif;
  transition: margin-left 0.3s;
}

.main-content.expanded {
  margin-left: 0;
}

/* Barra de Busca */
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid var(--lilas);
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: var(--magenta);
}

.search-button {
  background-color: var(--branco);
  border: none;
  color: var(--roxo);
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 50%;
  width: 60px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--roxo);
}

/* Feedback Form */
.feedback-form {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid var(--cinza-claro);
  border-radius: 8px;
  background-color: var(--cinza-claro);
  color: var(--cinza-escuro);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-form h2 {
  color: var(--roxo);
  text-align: center;
  margin-bottom: 20px;
}

.feedback-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid var(--cinza-escuro);
  border-radius: 4px;
  padding: 10px;
  resize: none;
}

.feedback-form .stars {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.feedback-form .stars span {
  font-size: 30px;
  cursor: pointer;
  color: var(--roxo);
  transition: color 0.3s;
}

.feedback-form .stars span.filled {
  color: var(--destaque);
}

.feedback-form button {
  display: block;
  width: 100%;
  background-color: var(--roxo);
  color: var(--branco);
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.feedback-form button:hover {
  background-color: var(--roxo-escuro);
}
