@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Paleta de cores */
:root {
  --roxo-escuro: #43054e;
  --roxo: #662c92;
  --lilas: #bf0087;
  --magenta: #ec0089;
  --amarelo: #fde100;
  --branco: #fff;
  --cinza-claro: #f0f0f0;
  --cinza-escuro: #333;
  --destaque: #f39c12;
}
