.container-inicio {

  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
  /* top - rigth - bottom - left */
  padding: 32px 8px 8px 8px;
  text-align: center;
  line-height: 2.8rem;
}

.texto {
  padding: 0px 24px;
}
.texto h2{
  padding-top: 16px;
  padding-bottom: 16px;
}
.texto p{
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 300;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


}
.btn-inicio{
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #EC0089;
  color: rgb(255, 255, 255);
  border: none;
  height: 50px;
}

@media (min-width: 576px) {
  .texto h2{
   padding: 16px 128px;
  }
  .texto p{
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 300;
    padding: 0px 128px;
  }
  .btn-inicio{
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #EC0089;
    color: rgb(255, 255, 255);
    border: none;
    height: 50px;
  }
}

@media (min-width: 961px) {

}
