:root {
  --roxo-escuro: #43054e;
  --magenta: #ec0089;
  --branco: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, var(--magenta), var(--roxo-escuro));
  margin: 0;
  padding: 20px;
}

.btn-instituicao {
  padding: 12px 32px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--branco);
  background-color: var(--magenta);
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-instituicao:hover {
  background-color: #bf0087; /* tom mais escuro do magenta */
}

.btn-admin {
  padding: 12px 32px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--branco);
  background-color: var(--magenta);
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-admin:hover {
  background-color: #bf0087; /* tom mais escuro do magenta */
}

@media (max-width: 600px) {
  .btn-instituicao {
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
  }

  .btn-admin {
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
  }
}
