/* Estilização geral do formulário */
.toolbar {
  background-color: #F8F9FA; /* Cor de fundo mais suave */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 20px; /* Espaço extra abaixo da barra de ferramentas */
}

.toolbar .title {
  font-size: 1.5rem; /* Aumentando o tamanho da fonte para o título */
  color: #333;
  font-weight: bold;
}

.toolbar button {
  padding: 8px 14px; /* Maior espaçamento */
  background-color: #EC0089;
  color: white;
  border: none;
  border-radius: 6px; /* Bordas mais arredondadas */
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #EC0089; /* Cor de fundo do botão ao passar o mouse */
}

/* Formulário principal */
form.p-fluid {
  width: 95%;
  max-width: 600px; /* Aumentando a largura máxima */
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

/* Estilização dos campos */
.p-field {
  margin-bottom: 20px; /* Aumentando o espaçamento entre campos */
}

.p-field label {
  display: block;
  margin-bottom: 6px;
  color: #495057;
  font-weight: 600;
  font-size: 1.1rem; /* Tamanho da fonte dos rótulos */
}

input[pInputText], .p-password input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: #f9f9f9;
}

/* Foco nos campos de entrada */
input[pInputText]:focus, .p-password input:focus, select:focus {
  outline: none;
  border-color: #EC0089;
  background-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Estilização do botão de envio */
button.ui-button-primary {
  width: 100%;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  background-color: #28a745; /* Verde para sucesso */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.ui-button-primary:hover {
  background-color: #218838;
}

/* Estilizando mensagens de erro */
.p-error {
  color: #dc3545; /* Vermelho para erro */
  font-size: 0.875rem;
}
