/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  background: linear-gradient(to bottom, #ff007f, #590fb7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container Principal */
.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

/* Toolbar */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to bottom, #ff007f, #590fb7);
  color: white;
  border-radius: 12px;
}

.left-actions {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.small-button {
  padding: 8px 12px;
  font-size: 15px;
  background-color: #ff007f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Formulário de Cadastro */
.cadastro-container {
  background-color: transparent;
}

.form-container {
  background-color: #ff007f;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background: linear-gradient(to bottom, #ff007f, #590fb7);
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
}

/* Campos do Formulário */
.p-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-field label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.p-field input,
.p-field select,
.p-field textarea {
  width: 30%; /* Aumenta a largura dos inputs para 80% do contêiner */
  padding: 10px;
  border: 1px solid #ff007f;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
}

.p-field textarea {
  resize: none;
}

.error-message {
  color: #ff007f;
  font-size: 12px;
  margin-top: 4px;
}

/* Botão de Submissão */
.submit-button {
  width: 50%; /* Aumenta a largura do botão para 80% do contêiner */
  padding: 15px;
  background-color: #ff007f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.submit-button:hover {
  background-color: #e6006f;
}
