/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #43054e, #ec0089); /* Roxo-Escuro para Magenta */
}

/* Container Principal */
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 100%; /* Garantir que o container ocupe a altura total da tela */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formulário de Cadastro */
.cadastro-container {
  width: 100%;
}

.form-container {
  background-color: #ec0089; /* Magenta */
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  background: linear-gradient(to bottom, #43054e, #662c92); /* Roxo-Escuro para Roxo */
  padding: 10px;
  border-radius: 8px;
  font-size: 24px;
}

/* Campos do Formulário */
.p-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centraliza os elementos dentro de cada campo */
}

.p-field label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff;
}

.p-field input,
.p-field select,
.p-field textarea {
  width: 50%; /* Expandir a largura dos inputs para 80% do container */
  padding: 10px;
  border: 1px solid #bf0087; /* Lilás */
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  text-align: center;
}

.p-field textarea {
  resize: none;
}

/* Botão de Submissão */
button {
  width: 80%; /* O botão ocupará 80% da largura para ficar consistente com os inputs */
  padding: 15px;
  background-color: #662c92; /* Roxo */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  align-self: center; /* Centraliza o botão */
}

button:hover {
  background-color: #43054e; /* Roxo-Escuro */
}
