<p-toast position="top-right"></p-toast>

<body class="full">
  <div class="cadastro-container">
    <div class="form-container">
      <h2>CONSAC - Cadastro Instituição</h2>
      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

        <p-accordion>
          <!-- Informações da Instituição -->
          <p-accordionTab header="Informações da Instituição">
            <!-- Campo Razão Social -->
            <div class="p-field">
              <label for="nome">Razão Social:</label>
              <input pInputText id="nome" formControlName="nome" />
              <small *ngIf="cadastroForm.get('nome')?.invalid && cadastroForm.get('nome')?.touched" class="p-error">
                {{ getErrorMessage('nome') }}
              </small>
            </div>

            <!-- Campo E-mail -->
            <div class="p-field">
              <label for="email">E-mail:</label>
              <input pInputText id="email" formControlName="email" />
              <small *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched" class="p-error">
                {{ getErrorMessage('email') }}
              </small>
            </div>

            <!-- Campo CNPJ -->
            <div class="p-field">
              <label for="cnpj">CNPJ:</label>
              <input pInputText id="cnpj" formControlName="cnpj" />
              <small *ngIf="cadastroForm.get('cnpj')?.invalid && cadastroForm.get('cnpj')?.touched" class="p-error">
                {{ getErrorMessage('cnpj') }}
              </small>
            </div>

            <!-- Área de Atuação -->
            <div class="p-field">
              <label for="areaAtuacao">Área de atuação:</label>
              <select id="areaAtuacao" formControlName="areaAtuacao">
                <option *ngFor="let area of areaAtuacao" [value]="area">{{ area }}</option>
              </select>
              <small *ngIf="cadastroForm.get('areaAtuacao')?.invalid && cadastroForm.get('areaAtuacao')?.touched"
                class="p-error">
                {{ getErrorMessage('areaAtuacao') }}
              </small>
            </div>

            <!-- Campo Endereço (via CEP) -->
            <div class="p-field">
              <label for="endereco">Endereço (via CEP):</label>
              <input pInputText id="endereco" formControlName="endereco" />
              <small *ngIf="cadastroForm.get('endereco')?.invalid && cadastroForm.get('endereco')?.touched" class="p-error">
                {{ getErrorMessage('endereco') }}
              </small>
            </div>
          </p-accordionTab>

          <!-- Credenciais -->
          <p-accordionTab header="Credenciais">
            <!-- Campo Senha -->
            <div class="p-field">
              <label for="password">Senha:</label>
              <input pPassword id="password" formControlName="password" />
              <small *ngIf="cadastroForm.get('password')?.invalid && cadastroForm.get('password')?.touched" class="p-error">
                {{ getErrorMessage('password') }}
              </small>
            </div>

            <!-- Campo Descrição -->
            <div class="p-field">
              <label for="description">Descrição:</label>
              <textarea pInputTextarea id="description" formControlName="description" rows="3"></textarea>
              <small *ngIf="cadastroForm.get('description')?.invalid && cadastroForm.get('description')?.touched"
                class="p-error">
                {{ getErrorMessage('description') }}
              </small>
            </div>
          </p-accordionTab>

          <!-- Responsável pela Instituição -->
          <p-accordionTab header="Responsável pela Instituição">
            <!-- Campo Nome do Responsável -->
            <div class="p-field">
              <label for="nomeResponsavel">Nome Completo:</label>
              <input pInputText id="nomeResponsavel" formControlName="nomeResponsavel" />
              <small *ngIf="cadastroForm.get('nomeResponsavel')?.invalid && cadastroForm.get('nomeResponsavel')?.touched"
                class="p-error">
                {{ getErrorMessage('nomeResponsavel') }}
              </small>
            </div>

            <!-- Campo CPF do Responsável -->
            <div class="p-field">
              <label for="cpfResponsavel">CPF:</label>
              <input pInputText id="cpfResponsavel" formControlName="cpfResponsavel" />
              <small *ngIf="cadastroForm.get('cpfResponsavel')?.invalid && cadastroForm.get('cpfResponsavel')?.touched"
                class="p-error">
                {{ getErrorMessage('cpfResponsavel') }}
              </small>
            </div>
          </p-accordionTab>
        </p-accordion>

        <!-- Botão de Cadastro -->
        <button type="submit" label="Cadastrar" class="ui-button-primary">Cadastrar</button>
      </form>
    </div>
  </div>
</body>
