<div class="cadastro-container">
<div class="toolbar">
  <div class="left-actions">
    <button type="submit" pButton label="Voltar" (click)="voltar()" class="small-button"></button>
  </div>
  <div class="title">CONSAC</div>
</div>


  <div class="form-container">
    <h2>Cadastro Instituição</h2>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">

      <!-- Campo Nome -->
      <div class="p-field">
        <label for="name">Nome:</label>
        <input pInputText id="name" formControlName="name" />
        <small *ngIf="cadastroForm.get('name')?.invalid && cadastroForm.get('name')?.touched" class="p-error">
          {{ getErrorMessage('name') }}
        </small>
      </div>

      <!-- Campo E-mail -->
      <div class="p-field">
        <label for="email">E-mail:</label>
        <input pInputText id="email" formControlName="email" />
        <small *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched" class="p-error">
          {{ getErrorMessage('email') }}
        </small>
      </div>

      <!-- Campo CNPJ -->
      <div class="p-field">
        <label for="cnpj">CNPJ:</label>
        <input pInputText id="cnpj" formControlName="cnpj" />
        <small *ngIf="cadastroForm.get('cnpj')?.invalid && cadastroForm.get('cnpj')?.touched" class="p-error">
          {{ getErrorMessage('cnpj') }}
        </small>
      </div>

      <!-- Área de Atuação -->
      <div class="p-field">
        <label for="interestArea">Área de atuação:</label>
        <select id="interestArea" formControlName="interestArea">
          <option *ngFor="let area of interestAreas" [value]="area">{{ area }}</option>
        </select>
        <small *ngIf="cadastroForm.get('interestArea')?.invalid && cadastroForm.get('interestArea')?.touched" class="p-error">
          {{ getErrorMessage('interestArea') }}
        </small>
      </div>

      <!-- Campo Senha -->
<div class="p-field">
  <label for="password">Senha:</label>
  <input pPassword id="password" formControlName="password" />
  <small *ngIf="cadastroForm.get('password')?.invalid && cadastroForm.get('password')?.touched" class="p-error">
    {{ getErrorMessage('password') }}
  </small>

  <!-- Indicador de força da senha -->
  <p-progressBar [value]="forcaSenha * 20"></p-progressBar>
  <div class="senha-forca-texto">
    <span *ngIf="forcaSenha === 0">Senha muito fraca</span>
    <span *ngIf="forcaSenha === 1">Fraca</span>
    <span *ngIf="forcaSenha === 2">Média</span>
    <span *ngIf="forcaSenha === 3">Boa</span>
    <span *ngIf="forcaSenha > 4">Forte</span>
  </div>
</div>

<!-- Campo Confirmação de Senha -->
<div class="p-field">
  <label for="confirmPassword">Confirme sua senha:</label>
  <input pPassword id="confirmPassword" formControlName="confirmPassword" />
  <small *ngIf="cadastroForm.get('confirmPassword')?.invalid && cadastroForm.get('confirmPassword')?.touched" class="p-error">
    {{ getErrorMessage('confirmPassword') }}
  </small>
</div>


      <!-- Campo Descrição -->
      <div class="p-field">
        <label for="description">Descrição:</label>
        <textarea pInputTextarea id="description" formControlName="description" rows="3"></textarea>
        <small *ngIf="cadastroForm.get('description')?.invalid && cadastroForm.get('description')?.touched" class="p-error">
          {{ getErrorMessage('description') }}
        </small>
      </div>

      <!-- Botão de Cadastro -->
      <button type="submit" pButton label="Cadastrar" (click)="cadastrar()"></button>
    </form>
  </div>
</div>
